body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.links {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

/**============== LOGOTYPE/HEADER ==============**/

.header-main {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logotype-header {
  margin-right: 76px;
}
.logotype-f {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logotype-d-head {
  color: #2e2f42;
}

/**============================**/

/**============== NAVIGATION ==============**/

.head-container {
  display: flex;
  justify-content: space-between;
}

.nav-list-header {
}
.nav-header {
  align-items: center;
  display: flex;
}

.nav-list-head-container {
  display: flex;
  gap: 40px;
}

.nav-links-head {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: flex;
}
.nav-links-head:first-child {
  color: #404bbf;
  position: relative;
}

.nav-links-head:first-child::after {
  content: "";
  color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-links-head:hover,
.nav-links-head:focus {
  color: #404bbf;
}
/**ADRESS*/

.adr-head-container {
}

.adrs-blck-head {
  font-style: normal;
  align-items: center;
  padding: 24px 0;
}

.adrs-blck-head-container {
  display: flex;
  gap: 40px;
}

.adrs-head-list {
}

.adrs-head {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.adrs-head-list:first-child .adrs-head {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adrs-head-list:nth-child(2) .adrs-head {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adrs-head:focus,
.adrs-head:hover {
  color: #404bbf;
}

/**============================**/

/**============== SOLUTIONS ==============**/

.solutions {
  background: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}
.solutions-container {
  display: grid;
  place-items: center;
}

.solutions-title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
}

.solutions-btn {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-btn:hover {
  background-color: #404bbf;
}

.solutions-btn:focus {
  background-color: #404bbf;
}

/**============================**/

/**==============  OUR PLANS ==============**/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.plan {
  padding: 120px 0;
}

.plan-list {
  display: flex;
  gap: 24px;
}

.plan-list-child {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.plan-subtitles {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  margin-bottom: 8px;
}

.plan-texts {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**============================**/

/**============== OUR TEAM ==============**/

.our-team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  padding: 120px 0;
}

.our-team-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.our-team-hum {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.our-team-img {
}

.container-name-prof {
  padding: 32px 0;
}

.our-team-names {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.our-team-prof {
  color: #434455;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/**============================**/

/**============== OUR PORTFOLIO ==============**/
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.porfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.porfolio-list {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
}

.portfolio-img {
}

.porfolio-apps-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-apps {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-app-txt {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**============================**/

/**============== FOOTER ==============**/

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-txt {
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.logotype-d-foot {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logotype-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-container {
}

.first-footer-section {
}

/**============================**/
.icon-list {
}
.our-team-soc-icon-list {
  display: flex;
  width: 40px;
  height: 40px;
}
.our-team-soc-link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
}
.soc-icon {
}
